*{
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
.header{
    padding: 50px 240px;
    background-color: rgb(255,144,14,0.10);
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.section-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
} 

nav > ul{
    display: flex;
}
nav  li {
     list-style: none;
     margin-right: 30px;
     font-weight: 500;
     font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}
.banner-title{
    font-weight: 700;
    font-size: 2.8rem;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    font-size: 1.25rem;
}
@media screen and (max-width: 576px){
    .header{
        padding: 10px;
    }
    nav ,.teams-container{
        flex-direction: column;
    }
    .teamsimg{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .header{
        padding: 10px;
    }
    nav,.teams-container{
        flex-direction: column;
    }
}

/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.teamsimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.teamstext{
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}
.teams-title{
    font-size: 2.8rem;
}
.gray{
    color: #424242;
}
.teams-text-two{
    color: #FF900E;
}